.parent {
    border: 1px solid black;
    min-height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.child-wrapper {
    height: 100px;
    min-width: 100px;
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
}

.icon {
    border: 1px solid red;
    height: 80%;
    width: 100%;
}

.text {
    border: 1px solid red;
    height: 20%;
    width: 100%;
}

.image {
    height: 30px;
    width: 20px;
}

.content {
    height: 100%;
}
